.card {
	position: relative;
	width: 325px;
	height: 328px;
	border: 2px solid #0000004D;
	border-radius: 19px;
	box-sizing: border-box;
	overflow: hidden;
}

.card__label {
	position: absolute;
	display: flex;
	gap: 10px;
	justify-self: anchor-center;
	top: 16px;
}

.card__name {
	margin: 0;
	font-family: 'Cabinet Grotesk Medium';
	font-size: 16px;
	color: #00000099;
	background-color: white;
	border-radius: 4px;
	padding: 2px 12px;
}

.card__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}