.modal__confirm-delete {
	max-width: 670px;
	height: 280px;
	font-size: 20px;

	display: flex;
	flex-direction: column;
	gap: 40px;
	justify-content: center;
}

.modal__confirm-delete .modal__confirm-question p {
	justify-self: center;
	margin: 0;
}

.modal__confirm-buttons {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.modal__submit_white {
	border: 0;
	padding: 0;
	background-color: transparent;

	width: fit-content;
	margin: auto;
}

.modal__submit_delete {
	color: #ff4d00;
}