.modal__content_type_image {
    padding: 0;
    overflow: hidden;
}

.modal__image {
    width: 100%;
}

.modal__footer {
    margin-left: 32px;
    margin-bottom: 32px;
}

.modal__caption {
    font-size: 20px;
    font-weight: 500;
}

.modal__weather {
    font-size: 20px;
    margin: 0
}