.sidebar__profile {
	display: flex;
	gap: 16px;
	align-items: center;	
}

.sidebar__options {
	margin-top: 24px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.sidebar__options-btn {
	border: 0;
	padding: 0;
	text-align: left;
}

.sidebar__avatar {
	width: 56px;
	height: 56px;
}

